@import 'tailwindcss';

@theme {
    --color-desert-sand: #ECC9AF;
    --color-melon: #E7AD99;
    --color-old-rose: #CE796B;
    --color-persian-orange: #C18C5D;
    --color-paynes-grey: #495867;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.ttf') format('ttf');
}

body {
    font-family: 'Pretendard', sans-serif;
    caret-color: transparent;
}